/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html { color: #222; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers
 */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset { border: 0; margin: 0; padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea { resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ==========================================================================
   Reset CSS
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
a{ text-decoration: none}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, html{width: 100%; height: 100%;}
body{font-family: 'Open Sans', sans-serif;font-size: 16px;}
.wrapper{min-height: 100%; position: relative;}

/*GENERALES*/
.txt{color: #333;margin-bottom: 1.25rem;line-height: normal;}
.txt a, .txt span{color: #53ABD0;}
.txt span{cursor: pointer;}
.txtRight{text-align: right;margin-bottom: 1.25rem;}
.txtSiz18{font-size: 1.125rem;}
.txtSiz14{font-size: 0.875rem;}
.txtSiz12{font-size: 0.75rem;}

/*MENU*/
nav{background: #6D6E70;width: 6rem;height: 100%;position: absolute;top: 0;padding: 0 1.25rem;}
/*nav{position: absolute;display: inline-block;vertical-align: top;height: 100.4%;background: #6D6E70;color: #FFF;font-size: 0.6875rem;z-index: 99;}*/
#logoIntMenu{padding-top: 1.25rem;margin-bottom:1.25rem;}
nav ul{text-align: center;line-height: normal;}
nav li{padding: 0.3125rem 0;margin-bottom:0.3125rem;text-transform: uppercase;}
nav a{color: #FFF;-webkit-transition: all 800ms ease-out; -moz-transition: all 800ms ease-out; -o-transition: all 800ms ease-out; transition: all 800ms ease-out;}
nav a:hover, nav .active{color: #371272;}
#btn_salir{position: absolute; bottom: 0.625rem;left: 0; right: 0;margin-left: auto; margin-right: auto;text-align: center;color: #FFF; text-align: center;text-transform: uppercase}
#ico_apaga{fill:#FFF;cursor: pointer;-webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out;}
#btn_salir:hover #ico_apaga{fill:#D0021B;}

/*LOGIN*/
.logoEmpresa{margin-bottom: 4.375rem;padding-top: 5%;text-align:  center;}
.logoEmpresa img{max-width: 25rem;min-width: 7.5rem;}
#cont_login{position: relative;max-width: 27.1875rem;min-width: 17.5rem;padding: 1.25rem;margin: 0 auto;background: #EEE;text-align: center;border: 1px solid #6D6E70;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#cont_login input[type=text], #cont_login input[type=password]{width: 97%;padding: 0.3125rem; margin-bottom: 1.25rem;;border: 1px solid #6D6E70;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;background-color: #FFF;}
#cont_login input[type=submit]{ background: #371272;width: 100%;padding: 0.3125rem 0;margin-bottom: 1.25rem;color: #FFF; font-size: 1.125rem;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;border: none;}
#cont_recupera{display: none;max-width: 20rem;min-width: 15rem;padding:2.5rem 1.25rem 1.25rem 1.25rem;position: fixed;left: 0; right: 0; top: 10%;background: #FFF; z-index: 99;margin-left: auto; margin-right: auto;-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75); box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border: 0px solid #000000;}
#cont_recupera input[type=text]{width: 98%;margin-bottom: 1.25rem;}
#cont_recupera input[type=submit]{ background: #371272;width: 100%;padding: 0.3125rem 0;margin-bottom: 1.25rem;color: #FFF; font-size: 1.125rem;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;border: none;}
#cerrar_recupera{position: absolute;top:0.9375rem; right: 0.9375rem;cursor: pointer;}

/*CMS*/
#title{background: #371272;font-size: 1.5rem;color: #FFF; text-align: center;text-transform: uppercase;padding: 0.9375rem;margin-bottom: 3.125rem;}
.flexContent{max-width: 80%; min-width: 18.75rem;margin: 0 auto 1.875rem auto;padding-left: 5rem;}
input[type=search]{border: 1px solid #6D6E70;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;background: url(../img/ico_seacrh.png)no-repeat 98% center #EEE;padding: 0.375rem 1.875rem 0.375rem 0.375rem;}
.table_items{width: 100%;border: 1px solid #6D6E70;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;margin-bottom: 1.875rem;}
.table_items thead{background: #ADAFB1;}
.table_items thead th{padding: 0.625rem 0.375rem;text-transform: uppercase;color: #FFF;}
.table_items td{padding: 0.625rem 0.375rem;color: #00004f;vertical-align: middle;}
.table_items td:nth-child(1){text-align: center;}
.table_items tr:nth-child(2n){background: #EEE;}
.table_items tr:nth-of-type(2n+1) > td:nth-last-child(1){background: #6f3ebc;padding: 0.625rem;text-align: center;cursor: pointer;}
.table_items tr:nth-of-type(2n+2) > td:nth-last-child(1){background: #5521a8;padding: 0.625rem;text-align: center;cursor: pointer;}
.table_items tr:nth-of-type(2n+1) > td:nth-last-child(2){background: #6f3ebc;padding: 0.625rem;text-align: center;cursor: pointer;}
.table_items tr:nth-of-type(2n+2) > td:nth-last-child(2){background: #5521a8;padding: 0.625rem;text-align: center;cursor: pointer;}
.btn{display: inline-block;border: 1px solid #979797; background: #EEE;color: #6D6E70;line-height: normal;}
.btn:nth-last-child(1){margin-left: 1.25rem;}
.txt_btn{display: inline-block;vertical-align: middle;padding: 0.375rem 0.375rem 0.625rem 0.625rem;font-size: 1.125rem; text-transform: uppercase;}
.img_btn{display: inline-block;vertical-align: middle;padding:0.35rem 0.375rem;background: #6f3ebc;}
#cont_pager{padding: 1.25rem 0;text-align: center; }
#cont_pager a{display: inline-block;vertical-align: middle;width: 4.3125rem;height: 1.3125rem;margin: 0 0.1875rem;padding: 0.4375rem 0.375rem 0.3125rem 0.375rem;color: #6f3ebc; border: 1px solid #6f3ebc;text-align: center;}
#cont_pager a:hover, #cont_pager a.active{border: 2px solid #77132e; color: #5521a8;}
#cont_pager .arrow, #cont_pager .arrow:hover{border: none;}
.table_edit{width: 100%;border: 1px solid #6D6E70;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;margin-bottom: 1.875rem;}
.table_edit thead{background: #ADAFB1;}
.table_edit thead th{padding: 0.625rem 0.375rem;text-transform: uppercase;color: #FFF;}
.table_edit td{padding: 0.625rem 0.375rem;color: #6D6E70;vertical-align: middle;border: 1px solid #6D6E70;}
input[type=text], textarea{border: 1px solid #6D6E70;background-color: #EEE;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;padding: 0.375rem;}
.largeInput{width: 80%;}
.smallInput{width: 20%;}
.middleInput{width: 50%;}
.agregar input[type="submit"]{padding: 0.4372rem 3.72rem 0.6872rem 0.622rem;font-size: 1.122rem; text-transform: uppercase;display: inline-block;border: 1px solid #979797; background: url(../../assets/admin/img/add.png) no-repeat right center; background-size: 44px 45px; color: #6D6E70;line-height: normal;}
.success{padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
.error{padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;color: #a94442;background-color: #f2dede;border-color: #ebccd1;}

/*FOOTER*/
footer{position: absolute;width: 100%;height:3.4375rem;padding: 1.25rem 0;bottom: 0; left: 0;text-align: center;}

/*ANIMACIONES*/
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }
.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to { -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; -webkit-transform: translate3d(0, -3000px, 0); transform: translate3d(0, -3000px, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(0, 25px, 0); transform: translate3d(0, 25px, 0); }
  75% { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); }
  90% { -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  to { -webkit-transform: none; transform: none; }
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to { -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; -webkit-transform: translate3d(0, -3000px, 0); transform: translate3d(0, -3000px, 0); }
  60% { opacity: 1; -webkit-transform: translate3d(0, 25px, 0); transform: translate3d(0, 25px, 0); }
  75% { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); }
  90% { -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
  to { -webkit-transform: none; transform: none; }
}
.bounceInDown { -webkit-animation-name: bounceInDown; animation-name: bounceInDown; }

@-webkit-keyframes bounceOutUp {
  20% { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); }
  40%, 45% { opacity: 1; -webkit-transform: translate3d(0, 20px, 0); transform: translate3d(0, 20px, 0); }
  to { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); }
}
@keyframes bounceOutUp {
  20% { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); }
  40%, 45% { opacity: 1; -webkit-transform: translate3d(0, 20px, 0); transform: translate3d(0, 20px, 0); }
  to { opacity: 0; -webkit-transform: translate3d(0, -2000px, 0); transform: translate3d(0, -2000px, 0); }
}
.bounceOutUp { -webkit-animation-name: bounceOutUp; animation-name: bounceOutUp; }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.hidden { display: none !important; }

/*
 * Hide only visually, but have it available for screen readers
 */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible { visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }
.clearfix:after { clear: both; }

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line { background: transparent !important; color: #000 !important; /* Black prints faster*/ box-shadow: none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

    /*
     * Printing Tables
     */
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}
